# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# React build
frontend/build/
frontend/.env
backend/.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
